@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/panthera');
@import url('https://fonts.cdnfonts.com/css/beyno');
@import url('https://fonts.cdnfonts.com/css/wakanda-forever');
                

                

:root{
    --white-color: #FFFFFF;
    --pink-color0: #F2CEF2;
    --pink-color1: #9E91B7;
    --pink-color2: #DF99F2;
    --blue-color0: #3D2DA6;
    --blue-color1: #07338C;
    --blue-color2: #021740;
    --whitet-color: hsla(0, 0%, 100%, 0.4);
    --whited-color: hsla(0, 0%, 100%, 0.9);
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: 'panthera';
    color: var(--pink-color1);
}

h2{
    font-family: 'beyno';
    color: var(--pink-color1);
}
/*Style de la première section black-panther*/ 

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 20px;
    

}
ul{
    display: flex;
    gap: 100px;  
    font-family: 'beyno';
   

}

.type-menu ul li a {
    font-size: 20px;
    text-decoration: none; /* Ajustez la taille des caractères selon vos besoins */
}
nav ul a{
    color: var(--white-color);
    font-size: 30px;
    font-weight: 500;
    
    
}
ul{
    list-style-type: none;
}
body{
background-image: url(./Illustrations-Logo/All_pages/arrière_plan.png);
background-size: cover;

}

#black_panther .description{
    display: flex;
    margin-left: 50px;
}
.container{
    width: 90%;
    margin: 0 auto;
    margin-left: 100px;
   
}

.text-description{
    color: #FFFFFF;
    font-family: 'Cantarell';
    font-size: 16px;
}
#black_panther .contenu-text a{
    color: #FFFFFF;
    font-family: 'Cantarell';
    font-size: 16px;
}

#black_panther .contenu-text{
    margin-top: 200px;
   
}
#black_panther .titre{
    font-size: 50px;
    font-weight: bold;
}
#black_panther .sous-titre{
    margin-top: 20px;
}
#black_panther .sous-titre{
    margin-bottom: 20px;
}
#black_panther .text-description{
    margin-bottom: 20px;
    font-size: 14px;
}

/*Style de la deuxième section acteurs*/
#acteurs .acteur{
    display: flex;
    justify-content: space-between;
    transition: transform 0.3s ease;
    margin-left: 5%;
    background-color: var(--blue-color2);
    height: 342px;
    
    
   
    
}


.acteur1{
    position: relative;
    top: -60px;
    margin-left: 40px;
}


#acteurs .text-description{
    
    color: #FFFFFF;
    font-family: 'Cantarell';
    font-size: 16px;
    
}
#acteurs .description{
    margin: 50px 30px;
}
#acteurs .acteur a{
    color: #FFFFFF;
    font-family: 'Cantarell';
    font-size: 16px;
}


/*Style de la troisième section histoire*/
#histoire {
    margin-top: 200px;
} 
.global{
    display: flex;
}
#histoire .textuel p{
    color: #FFFFFF;
    font-size: 15px;
    text-align: justify;
}
#histoire .textuel{
    width: 90%;
    padding: 20px;
    margin-left: 5%;
    margin-bottom: 20px;

}
#histoire .contenu-histoire{
    font-family: 'Cantarell';
    margin-bottom: 20px;

}
#histoire .citation{
    font-family: 'Cantarell';
    margin-bottom: 20px;

}

#histoire .sous-titre{
    margin-bottom: 20px;

}

#histoire .imagedesc{
    margin-left: 150px;

}

#histoire .identite1{
   background:  linear-gradient(
    360deg,var(--white-color),var(--pink-color1));
    width: 450px;
    border-radius: 10px;
    margin-top: 250px;
    height: 800px;

}

#histoire .description, .identite1 img{
    margin-left: 25px;
    position: relative;
    top: -250px;
}
#histoire .description{
    text-align: center;
    margin: 20px 50px;
}
#histoire .description {
    font-family: 'Cantarell';
    font-size: 16px;
}
#histoire .apropos{
    text-align: justify;
}
#histoire .bold{
    font-weight: bold;
}
#histoire .titre{
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 20px;
}
#histoire .btn a{
    text-decoration: none;
    justify-content: space-between;
    background-color: var(--blue-color1);
    color: var(--white-color);
    border-radius: 5px;
    padding: 8px;
    margin: 0 4px;
   
}
#histoire .btn{
    margin-bottom: 20px;
}
#histoire .min{
    font-size: 10px;
}
#histoire .apropos .desc{
    margin-bottom: 10px;
}
#histoire .identite2{
    margin-top: 100px;
}

/*Style de la quatrième section contact*/
#contact{
    background-image: url(./Illustrations-Logo/Accueil/Pantherhome7.png);
}
#contact .form{
    width: 45%;
    height: 550px;
    margin: 0 auto;
    background:  linear-gradient(
    180deg,var(--whited-color),var(--whitet-color));
    border-radius: 100px;
    
}
#contact h2{
    text-align: center;
    font-size: 32px;
    margin-bottom: 32px;
}
#contact p{
    text-align: center;
    font-size: 32px;
    margin-bottom: 32px;
}

#contact .form input[type='email'],input[type='text'], textarea{
    display: block;
    border-top: none;
    
    width: 520px;
    height: 56px;
    border: 2px solid darkgray;
    border-radius: 36px;
    background-color: transparent;
    padding: 10px 0;
    margin: 30px 200px;
}
::placeholder{
    font-size: 15px;
}
#contact .form input[type='submit']{
    display: block;
    margin: 30px 400px
}
