:root{
    --white-color: #FFFFFF;
    --pink-color0: #F2CEF2;
    --pink-color1: #9E91B7;
    --pink-color2: #DF99F2;
    --blue-color0: #3D2DA6;
    --blue-color1: #07338C;
    --blue-color2: #021740;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 20px;
    

}
ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
   

}

nav ul a{
    color: var(--white-color);
    font-size: 30px;
    font-weight: 500;
    
    
}
body{
background-image: url(./Illustrations-Logo/All_pages/arrière_plan.png);
background-size: cover;

}